* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}
.tag-btn {
  border-radius: 50%;
  cursor: pointer;
  width: 25p;
  height: 25p;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
}
.tag-btn:hover {
  background-color: #ebebeb;
  transition: 0.3s ease-in-out;
}
.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.Sidebar {
  background-color: #fff;
  width: 300px;
  min-width: 200px;
}

.Main {
  width: 100%;
  height: 100%;
  background: url("./Images/backround2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.User {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border-bottom: 1px solid #ebebeb;
}

.User .logo {
  border: 50% 1px solid black;
}
.User .info p {
  font-size: 0.8rem;
  font-weight: bold;
  color: #a0a0a0;
}
.User .info a {
  font-size: 0.8rem;
  color: #a0a0a0;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}

/* Model style */
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.Modal .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 22px;
  padding: 1rem;
}

.AddNewTodo {
  border-bottom: 1px solid #ebebeb;
}
.AddNewTodo .btn {
  width: 100%;
  padding: 1rem;
  height: 70px;
}
.AddNewTodo .btn button {
  width: 100%;
  height: 100%;
  border: 1px solid #0b56f3;
  background-color: #fff;
  border-radius: 8px;
  color: #0b56f3;
  cursor: pointer;
}
.AddNewTodo .btn button:hover {
  background-color: #0b56f3;
  color: white;
  transition: 0.3s;
}

/* styles for form */
.AddNewTodo form {
  padding: 1rem 1rem 30px 1rem;
  width: 300px;
  /* border-radius: 32px; */
}
.AddNewTodo form .text {
  position: relative;
}
.AddNewTodo form .text input {
  padding: 0.5rem;
  height: 2.5rem;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ebebeb;
  border-radius: 6px;
}

.AddNewTodo form .text input:focus {
  outline: none;
  border: 1px solid #0b56f3;
}

.AddNewTodo form .remind {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.AddNewTodo form p {
  margin-left: 10px;
}
.AddNewTodo form .title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.AddNewTodo form .pick-day,
.pick-time {
  padding: 1rem;
}
.AddNewTodo form .pick-project {
  padding: 0.5rem;
}
.AddNewTodo form .pick-project .projects {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 0 1rem;
}
.AddNewTodo form .pick-project .projects .project {
  border: 1px solid #0b56f3;
  border-radius: 12px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 12px;
}
.AddNewTodo form .pick-project .projects .active {
  border: none;
  background-color: #0b56f3;
  color: white;
}
.AddNewTodo form .cancel {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.AddNewTodo form .confirm {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.AddNewTodo form .confirm button {
  width: 100%;
  height: 40px;
  background-color: #0b56f3;
  color: white;
  font-size: 0.8rem;
  border: none;
  border-radius: 0 0 22px 22px;
  cursor: pointer;
}

/* Calender  */
.Calender {
  padding: 1rem;
  border-bottom: 1px solid #ebebeb;
}
.Calender .header {
  display: flex;
  align-items: center;
}
.Calender .header .title {
  display: flex;
  align-items: center;
  flex: 1;
}
.Calender .header .title p {
  margin-left: 5px;
  font-size: 0.9rem;
}

.Calender .items .item {
  margin: 1rem;
}

/* projects */
.projects {
  padding: 1rem;
  border-bottom: 1px solid #ebebeb;
}

.projects .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects .header .title {
  display: flex;
  align-items: center;
  flex: 1;
}
.projects .header .title p {
  margin-left: 5px;
  font-size: 0.9rem;
}
.projects .header .btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* single project */
.Project {
  display: flex;
  padding: 0.1rem 0;
  margin: 0.25rem 0;
  font-size: 0.9rem;
  align-items: center;
  justify-content: space-between;
}
.Project .name {
  cursor: pointer;
}
.Project .btns,
.Project .btns .edit-delete {
  display: flex;
  align-items: center;
}

.Project .btns .edit-delete > span {
  padding: 0.4rem;
  margin: 0 2px;
}
.Project .btns .edit-delete .edit:hover {
  background-color: #dee6f8;
  color: royalblue;
}
.Project .btns .edit-delete .delete:hover {
  background-color: #f1c3c2;
  color: rgb(255, 0, 0);
}
.Project .btns .total-todos {
  background-color: #ebebeb;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 100;
}
